<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>New Invoice Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-spinner *ngIf="submitting"></mat-spinner>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Name" formControlName="name">
            <mat-icon matSuffix>contacts</mat-icon>
            <mat-error *ngIf="!addressForm.controls['name'].valid && addressForm.get('name').touched">
              Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Invoice Number" formControlName="invoicenumber">
            <mat-icon matSuffix>filter_1</mat-icon>
            <mat-error *ngIf="!addressForm.controls['invoicenumber'].valid && addressForm.get('invoicenumber').touched">
              {{getInvoiceNumberErrorMessage()}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Net Terms" formControlName="netterms">
            <mat-icon matSuffix>filter_1</mat-icon>
            <mat-error *ngIf="!addressForm.controls['netterms'].valid && addressForm.get('netterms').touched">
              {{getNetTermsErrorMessage()}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Number Of Hours" formControlName="numberofhours">
            <mat-icon matSuffix>filter_1</mat-icon>
            <mat-error *ngIf="!addressForm.controls['numberofhours'].valid && addressForm.get('numberofhours').touched">
              {{getNumberOfHoursErrorMessage()}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Amount Of Invoice" formControlName="amountofinvoice">
            <mat-icon matSuffix>attach_money</mat-icon>
            <mat-error
              *ngIf="!addressForm.controls['amountofinvoice'].valid && addressForm.get('amountofinvoice').touched">
              {{getAmountOfInvoiceErrorMessage()}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Choose a timesheet ending date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="timesheetendingdate">
            <mat-datepicker-toggle matSuffix [for]="picker">
              <!-- <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon> -->
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error
              *ngIf="!addressForm.controls['timesheetendingdate'].valid && addressForm.get('timesheetendingdate').touched">
              Timesheet Ending date is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Choose a timesheet sent date</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="timesheetsentdate">
            <mat-datepicker-toggle matSuffix [for]="picker2">
              <!-- <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon> -->
            </mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
            <mat-error
              *ngIf="!addressForm.controls['timesheetsentdate'].valid && addressForm.get('timesheetsentdate').touched">
              Timesheet Sent date is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
