<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Client Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-spinner *ngIf="submitting"></mat-spinner>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Name" formControlName="name">
            <mat-icon matSuffix>contacts</mat-icon>
            <mat-error *ngIf="!addressForm.controls['name'].valid && addressForm.get('name').touched">
              Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Address" formControlName="address">
            <mat-icon matSuffix>account_balance_wallet</mat-icon>
            <!-- <mat-error *ngIf="addressForm.controls['address'].hasError('required')"> -->
            <mat-error *ngIf="!addressForm.controls['address'].valid && addressForm.get('address').touched">
              {{getAddressErrorMessage()}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
